@model IEnumerable<Review_Site.Models.DestinationModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Tour Company Name</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<body>
    @foreach (var item in Model) 
    {
            @*<div style="background-image: url(https://helios-i.mashable.com/imagery/articles/01neFU0eWtDpwBEe1WhOQqM/hero-image.fill.size_1200x1200.v1623385029.jpg)">*@
  @*      <div style = "background-image: @item.ImageURL;">*@

      @*<div class="fill" style="background-image:src(@{Html.Action("Image", item.ImageURL);})">*@

     <div style="background-image : url('@Url.Content(item.ImageURL.Replace(@"\", "/"))')">
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(modelItem => item.Description)
        @Html.DisplayFor(modelItem => item.Country)
        @Html.DisplayFor(modelItem => item.City)
        @Html.DisplayFor(modelItem => item.TourDuration)
        @Html.DisplayFor(modelItem => item.Price)
        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | 
        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </div>
    }
</body>
