@model Review_Site.Models.DestinationModel

@{
    ViewData["Title"] = "ReviewsList";
}
<body id="tokyo_review_body">
    <h1 id="tokyo_review_page_title">REVIEWS</h1>


    <div id="tokyo_review_info_block">

        @foreach(var r in Model.Reviews)
        {
        <hr id="dest_row_hr">

            <p id="review_image">
                @r.ImageURL
            </p>
            <p id="review_name">
                @r.ReviewerName
            </p> 
            <p id="review_datetime"> 
                @r.Timestamp
            </p>
            <p id="review_content">
            "@r.Content"
            </p>
            <p id="review_name">
            - @r.ReviewerName
            </p>
            <p>
                @r.StarRating
            </p>
        }
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddReview" asp-route-id="@Model.Id">Add Review</a> |
    <a asp-action="Index">Back to List</a>
</div>

<</body>/>




