@model Review_Site.Models.DestinationModel

@{
    ViewData["Title"] = "ReviewsList";
}
<body id="tokyo_review_body">
    <h1 id="tokyo_review_page_title">REVIEWS</h1>


    <div id="tokyo_review_info_block">

        @foreach(var r in Model.Reviews)
        {
        <hr id="dest_row_hr">

            <p id="review_image">
                @r.ImageURL
            </p>
            <p id="review_name">
                @r.ReviewerName
            </p> 
            @*<p id="review_datetime"> 
                @r.Timestamp
            </p>*@
            <p id="review_content">
            "@r.Content"
            </p>
            <p id="review_name">
            - @r.ReviewerName
            </p>
            <p>
                @r.StarRating
            </p>
        }
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="AddReview" asp-route-id="@Model.Id">Add Review</a> |
    <a asp-action="Index">Back to List</a>
</div>

    <div class="rating">
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating3" type="radio" name="rating" value="3">
        <label for="rating3">3</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
    </div>
<</body>/>




