@model Review_Site.Models.DestinationModel

@{
    ViewData["Title"] = "ReviewsList";
}

<h1>ReviewsList</h1>

<div>
    <h4>Tokyo Tour Reviews</h4>

    <p id="rev"

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>*@
@*        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>*@
    </dl>
</p>
<div>
    <ul>
    @foreach(var r in Model.Reviews)
    {
        <li>
            @r.ImageURL
            @r.ReviewerName
            @r.DateTime
            @r.Content
            @r.StarRating
        </li>
    }
    </ul>
   
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="AddReview">Add Review</a> |
    <a asp-action="Index">Back to List</a>
</div>

    <div class="rating">
        <input id="rating1" type="radio" name="rating" value="1">
        <label for="rating1">1</label>
        <input id="rating2" type="radio" name="rating" value="2">
        <label for="rating2">2</label>
        <input id="rating3" type="radio" name="rating" value="3">
        <label for="rating3">3</label>
        <input id="rating4" type="radio" name="rating" value="4">
        <label for="rating4">4</label>
        <input id="rating5" type="radio" name="rating" value="5">
        <label for="rating5">5</label>
    </div>



@*
<div>
    <h4>Tokyo Tour Reviews</h4>



    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
    </dl>
</div>
<div>
    <ul>
        @foreach (var r in Model.Reviews)
        {
            <li>
                @r.ReviewerName
                @r.DateTime
                @r.Content
                @r.StarRating
            </li>
        }
    </ul>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
*@